<div class="w-100 my-4">
  <form #updateForm="ngForm" (ngSubmit)="updateDetails(updateForm)" class="col-md-8 mx-auto my-3 border border-1 p-3">
    <h1 class="text-center">Edit Details</h1>
    <div class="row g-3">    
      <mat-form-field appearance="outline" class="col">
        <mat-label>First Name</mat-label>
        <input matInput required placeholder="Enter First Name" name="FirstName" #FirstName="ngModel" [(ngModel)]="employee.FirstName" >
        <mat-error *ngIf="FirstName.hasError('required')">First name is Required</mat-error>
        <mat-hint></mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col">
        <mat-label>Middle Name</mat-label>
        <input matInput required placeholder="Enter Middle Name" name="MiddleName" #MiddleName="ngModel" [(ngModel)]="employee.MiddleName" >
        <mat-error *ngIf="MiddleName.hasError('required')">Middle name is Required</mat-error>
        <mat-hint></mat-hint>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="col">
        <mat-label>Last Name</mat-label>
        <input matInput required placeholder="Enter Last Name" name="LastName" #LastName="ngModel" [(ngModel)]="employee.LastName" >
        <mat-error *ngIf="LastName.hasError('required')">Last name is Required</mat-error>
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>
    <div class="row g-3">    
      <mat-form-field appearance="outline" class="col">
        <mat-label>Gender</mat-label>
        <mat-select name="Gender" #Gender="ngModel" [(ngModel)]="employee.Gender" required>
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
        <mat-error *ngIf="Gender.hasError('required')"></mat-error>
        <mat-hint></mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col">
        <mat-label>Contact Number</mat-label>
        <input minlength="10" maxlength="10" matInput required placeholder="Enter your Contact Number" name="ContactNumber" #ContactNumber="ngModel" [(ngModel)]="employee.ContactNumber" >
        <mat-error *ngIf="ContactNumber.hasError('required')">Contact Number is Required</mat-error>
        <mat-error *ngIf="ContactNumber.hasError('maxlength') || ContactNumber.hasError('minlength')"> Contact Number should have 10 digits</mat-error>
        <mat-hint></mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col">
        <mat-label>Employee Type</mat-label>
        <mat-select name="EmployeeType" #EmployeeType="ngModel" [(ngModel)]="employee.EmployeeType">
          <mat-option value="Contract">Contract</mat-option>
          <mat-option value="Permanent">Permanent</mat-option>
        </mat-select>
        <mat-error *ngIf="EmployeeType.hasError('required')"></mat-error>
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>
    <div class="row g-3">    
      <mat-form-field appearance="outline" class="col">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Enter your Address" name="Address" #Address="ngModel" [(ngModel)]="employee.Address" >
        <mat-error *ngIf="Address.hasError('required')"> Address is Required</mat-error>
        <mat-hint></mat-hint>
      </mat-form-field>  
    </div>

    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-outline-primary m-3" (click)="goBack()">Back to Dashboard</button>
    </div>
  </form>
</div>
